
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/Content/Pages/Search.js"></script>

</head>
<body>
    <div>
        <input type="text" id="txtName" name="Criteria" class="control-group pull-left" style="border:1px solid #E1E1DD" />
        <button id="btnSearch" onclick="getMainSearchList()"> Search</button>

        <table id="tblsearch" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Emailid</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</body>
</html>
