@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script src="~/Content/pages/Search.js"></script>

<html>

<body>
    <div>
        <label>Search</label>
        <br />
        <input type="text" id="txtename" />
        <br />
        <button id="btnSearch" onclick="getMainspList()">Search</button>
        <table id="tblemp" border="1">
            <thead>
                <tr>
                    <th>EmpName</th>
                </tr>
            <tbody></tbody>
        </table>
    </div>
</body>
</html>
