
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/Booking.js"></script>


<h2>Index</h2>

@*<input type="text" id="txtempid" />
<input type="text" id="txtempname" />
<input type="text" id="txtname" />
<input type="text" id="txtaddress" />*@

<table id="tblbooking" border="1">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>EmpName</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    <tbody></tbody>
</table>

<h2>JoinLinq</h2>
<table id="tblbook" border="1">
    <thead>
        <tr>
            <th>BookingId</th>
            <th>Name</th>
            <th>EmpId</th>
            <th>MobileNo</th>
        </tr>
    <tbody></tbody>
</table>

