
@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/Product.js"></script>


    <label id="hdnid"></label>
    <label>ProductName</label>
    <br />
    <input type="text" id="txtpname" />
    <br />
    <label>Offer</label>
    <br />
    <input type="text" id="txtoffer" />
    <br />
    <label>Discount</label>
    <br />
    <input type="text" id="txtdiscount" />
    <br />
    <br />
    <button id="btnsubmit" type="button" class="btn-success" value="GENERATE" onclick="Saveproduct()">Save</button>

<label>Id:<span id="hdnid"></span> </label>
<br/>
<label>ProductName:<span id="txtPname"></span></label>
<br />
<label>Offer:<span id="txtoff"></span></label>
<br />
<label >Discount:<span id="txtdis"></span></label>
<br />

